<link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{=URL('static','css/myapp.css')}}" rel="stylesheet" type="text/css"/>

{{block head}}
{{end}}

<head></head>

<body id="body" style="width:100vw;height:100vh">
    <div id="title">
        <div>PETMET</div>
    </div>
    <div id="content" class="container">
        <span class="half">
            <p>Do you see banana man?
            Hopping over on de white hot sand
            Here he come with some for me
            Freshly taken from banana tree
            Banana man, me want a ton
            Gimme double and a bonus one
            Gimme more for all me friends
            Dis banana flow will never end</p>
        </span>
        <span class="half">
            <a class="btn padded" style="width:200px" href="{{=URL('default', 'user/login')}}">Log In</a>
            <a class="btn padded" style="width:200px" href="{{=URL('default', 'user/register')}}">Sign Up</a>
        </span>
    </div>
</body>

<script src="{{=URL('static', 'js/splash.js')}}"></script>