{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var make_profile_URL = "{{=URL('api', 'make_profile', user_signature=True)}}";
    var add_sitter_URL = "{{=URL('api', 'add_sitter', user_signature=True)}}";
    var add_owner_URL = "{{=URL('api', 'add_owner', user_signature=True)}}";
    var get_profiles_URL = "{{=URL('api', 'add_owner', user_signature=True)}}";
</script>
{{end}}

{{if auth.user is None:}}
<div id="body" style="width:100vw;height:100vh">
    <div id="title">
        <div>PETMET</div>
    </div>
    <div id="content" class="container">
        <span class="half">
            <p>Que Paso</p>
        </span>
        <span class="half">
            <a class="btn padded" style="width:200px" href="{{=URL('default', 'user/login')}}">Log In</a>
            <a class="btn padded" style="width:200px" href="{{=URL('default', 'user/register')}}">Sign Up</a>
        </span>
    </div>
</div>

{{else:}}
<div id="main">
   <div class="left half compressible">
      <div class="container form_row padded">
         <div class="label quarter">
            First Name:
         </div>
         <div class="form threequarters">
            <input v-model="fname"/>
         </div>
      </div>
      <div class="container form_row padded">
         <div class="label quarter">
            Last Name:
         </div>
         <div class="form threequarters">
            <input v-model="lname"/>
         </div>
      </div>
      <div class="container form_row padded">
         <div class="label quarter">
            Contact Info:
         </div>
         <div class="form threequarters">
            <input v-model="contact" placeholder="Enter your email"/>
         </div>
      </div>
      <div class="container form_row padded">
         <div class="label quarter">
            City:
         </div>
         <div class="form threequarters">
            <input v-model="city_name" placeholder="Enter your city name"/>
         </div>
      </div>
      <div class="container form_row padded">
         <div class="form threequarters">
            <button id="make-profile" v-on:click="make_profile();">Submit</button>
         </div>
      </div>
   </div>
   <div class="container form_row padded"> 
    <img v-if="image != null" v-bind:src="image" width="25%" height="45%"/><br>
   <input type="file" v-on:change="image_changed($event)" accept="image/*"/>
      <div class="quarter">
      </div>
   </div>
</div>

<!-- <div id="main">
	<div v-if="state === 'home'">
		${state}
	</div>
	<div v-if="state === 'profile'">
		${state}
	</div>
	<div v-if="state === 'editProfile'">
		edit profile
	</div>
	<div v-if="state === 'listings'">
		listings
	</div>
</div> -->
{{pass}}

<script src="{{=URL('static', 'js/default_index.js')}}"></script>