{{extend 'layout.html'}}
{{block head}}
{{end}}

<script>
    var get_profiles_list_url = "{{=URL('api', 'get_profiles_list')}}";
</script>

{{if auth.user is None:}}
<div id="splash_background" style="width:100vw;height:100vh">
    <div id="splash_title">
        <div>PETMET</div>
    </div>
    <div id="content" class="container">
        <span class="half">
            <p>Do you see banana man?
            Hopping over on de white hot sand
            Here he come with some for me
            Freshly taken from banana tree
            Banana man, me want a ton
            Gimme double and a bonus one
            Gimme more for all me friends
            Dis banana flow will never end</p>
        </span>
        <span class="half">
            <a class="btn padded" style="width:200px" href="{{=URL('default', 'user/login')}}">Log In</a>
            <a class="btn padded" style="width:200px" href="{{=URL('default', 'user/register')}}">Sign Up</a>
        </span>
    </div>
</div>

{{else:}}
<div id="main">
<div id="splash_background" style="width:100vw;height:100vh">
	<div v-if="state === 'home'">
		<div id="pawPage" class="container">
    	
    	
        <h2>Probably Going to be Our Logo</h2>
        
        <button class="buttonPaw" v-on:click="change_state('profile')">Profile</button>
        
		
		<button class="buttonPaw" v-on:click="load_listings('listings','0')">Owners</button>
		<button class="buttonPaw" v-on:click="load_listings('listings','0')">Sitters</button>
		<button class="buttonPaw" v-on:click="load_listings('listings','0')">Search</button>
		<button class="buttonPaw buttonPalm" v-on:click="change_state('contacts')">Contacts</button>
		
		<a class="btn padded" style="width:200px" href="{{=URL('default', 'user/logout')}}">Log Out</a>
    	</div>
	
	</div>
	<div v-if="state === 'profile'">
		<div id="backButton">
			<button v-on:click="change_state('home')">Back</button>
			
		</div>
		
	</div>
	<div v-if="state === 'editProfile'">
		<div>
			<button v-on:click="change_state('home')">Back</button>
			edit profile
		</div>
	</div>
	<div v-if="state === 'listings'">
		<div>
			<div class="container">
			  <h2>This is going to be our search page</h2>
			  <div class="row">
		<div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Location" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="filter">Profile Type</label>
                                    <select class="form-control">
                                        <option value="0" selected>---</option>
                                        <option value="1">Owner</option>
                                        <option value="2">Sitter</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="filter">Pet Type</label>
                                    <select class="form-control">
                                        <option value="0" selected>---</option>
                                        <option value="1">Cat</option>
                                        <option value="2">Dog</option>
                                        <option value="3">Bird</option>
                                        <option value="4">Fish</option>
                                        <option value="5">Rodent</option>
                                        <option value="6">Reptile</option>
                                    </select>
                                  </div>
                                  <!-- this if we wanna do a search within the search-->
                                  <div class="form-group">
                                    <label for="contain">User Email</label>
                                    <input class="form-control" type="text" />
                                  </div>
                              		
                                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
          </div>
        </div>
	</div>

			  <div class="panel-group">
			    <div class="panel panel-default">
			      <div class="panel-heading">Picture Placeholder Name:</div>
			      <div class="panel-body">
			      	Location: 
			      </div>
			      <div class="panel-body">
			      	Description:
			      </div>
			    </div>
			    <div class="panel panel-default">
			      <div class="panel-heading">Panel Header</div>
			      <div class="panel-body">Panel Content</div>
			    </div>
			    <div class="panel panel-default">
			      <div class="panel-heading">Panel Header</div>
			      <div class="panel-body">Panel Content</div>
			    </div>
			  </div>
			</div>

			<button v-on:click="change_state('home')">Back</button>
			search
		</div>
	</div>
	<div v-if="state === 'contacts'">
		<div>
			<button v-on:click="change_state('home')">Back</button>
			contacts
		</div>
	</div>	
</div>
</div>
{{pass}}

<script src="{{=URL('static', 'js/default_index.js')}}"></script>