/* line 1, ../sass/_main.scss */
div.main_content {
  padding: 10px;
}
  
#splash_background {
  background-image: linear-gradient(to bottom right, lightblue, cyan);
}
  
#splash_title {
  width: 100%;
  height: 100%;
  line-height: 20vh;
  text-align: center;
  vertical-align: middle;
  font-size: 14vw;
  color:white;
  --x: 3px;
  --y: 3px;
  text-shadow: var(--x) var(--y) mediumpurple;
}
  
#content {
  position: absolute;
  left:0;
  top:25%;
  width:100%;
  text-align: center;
  font-size: 18px;
  padding-left: 25vw;
  padding-right: 25vw;
}

#buttonPawContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#pawPage{
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding-left: 25vw;
  padding-right: 25vw;
}
  
.buttonPaw {
  background-color: #555555;
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 75%;
}
  
.buttonPalm{
  padding: 60px;
}
  
#backButton{
  position: absolute;
  bottom: 0;
  right: 0;
}

.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}

.input-group-btn .btn-group {
  display: flex !important;
}

.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 10px;
    margin-right: 10px;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
  #adv-search {
      width: 500px;
      margin: 0 auto;
  }

  .dropdown.dropdown-lg {
      position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
      min-width: 500px;
  }

}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to, .fade-leave-active {
    opacity: 0;
}